<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="container">
    <h1>Bienvenido</h1>
    <p>Seleccione un puesto: </p>
  </div>

  <ion-list [inset]="true">
    <h5 class="ion-text-center" *ngIf="puestos.length === 0">No hay puestos</h5>
    <ion-item *ngFor="let puesto of puestos; let i = index" [button]="true" detail="false"
      (click)=" puesto.disponible === '0' ? goPuesto( puesto.id ) : pagar( puesto.id ) ">
      <ion-icon slot="start" name="ellipse" [color]="puesto.disponible === '0' ? 'success' : 'danger'"></ion-icon>
      <ion-label>
        <strong>Puesto {{puesto.nro}}</strong>
        <br />
        <ion-note color="dark">
          {{puesto.disponible === "0" ? 'Disponible' : 'Ocupado'}}
        </ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">

        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

</ion-content>